<a href="https://colab.research.google.com/github/idanh8/manager_replacement_causality/blob/main/code/CI_Data_Builder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pl1 = pd.read_csv('/content/england-premier-league-2015-to-2016.csv')
pl2 = pd.read_csv('/content/england-premier-league-2015-to-2016.csv')
pl3 = pd.read_csv('/content/england-premier-league-2015-to-2016.csv')
pl4 = pd.read_csv('/content/england-premier-league-2015-to-2016.csv')
pl5 = pd.read_csv('/content/england-premier-league-2015-to-2016.csv')
pl = pd.concat([pl1, pl2, pl3, pl4, pl5])
pl

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,08/08/15,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.00,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.50,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,08/08/15,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.00,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/16,Stoke,West Ham,2,1,H,0,1,A,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15/05/16,Swansea,Man City,1,1,D,1,1,D,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15/05/16,Watford,Sunderland,2,2,D,0,1,A,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15/05/16,West Brom,Liverpool,1,1,D,1,1,D,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,17/05/16,Man United,Bournemouth,3,1,H,1,0,H,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

In [ ]:
pl = pl.iloc[:, :23]

In [ ]:
teams = pd.read_csv('teams.csv')
teams.columns

<ipython-input-17-6375508131e5>:1: DtypeWarning: Columns (32,38,39,40,41,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  teams = pd.read_csv('teams.csv')

Index(['team_id', 'team_url', 'fifa_version', 'fifa_update',
       'fifa_update_date', 'team_name', 'league_id', 'league_name',
       'league_level', 'nationality_id', 'nationality_name', 'overall',
       'attack', 'midfield', 'defence', 'coach_id', 'home_stadium',
       'rival_team', 'international_prestige', 'domestic_prestige',
       'transfer_budget_eur', 'club_worth_eur', 'starting_xi_average_age',
       'whole_team_average_age', 'captain', 'short_free_kick',
       'long_free_kick', 'left_short_free_kick', 'right_short_free_kick',
       'penalties', 'left_corner', 'right_corner', 'def_style',
       'def_team_width', 'def_team_depth', 'def_defence_pressure',
       'def_defence_aggression', 'def_defence_width',
       'def_defence_defender_line', 'off_style', 'off_build_up_play',
       'off_chance_creation', 'off_team_width', 'off_players_in_box',
       'off_corners', 'off_free_kicks', 'build_up_play_speed',
       'build_up_play_dribbling', 'build_up_play_passing',
       'build_up_play_positioning', 'chance_creation_passing',
       'chance_creation_crossing', 'chance_creation_shooting',
       'chance_creation_positioning'],
      dtype='object')

In [ ]:
teams = teams[['team_id', 'team_name', 'coach_id','league_id', 'league_name', 'league_level','overall','international_prestige', 'domestic_prestige',
       'transfer_budget_eur', 'club_worth_eur', 'starting_xi_average_age',
       'whole_team_average_age', 'fifa_version', 'fifa_update', 'fifa_update_date']]

In [ ]:
teams

,team_id,team_name,coach_id,league_id,league_name,league_level,overall,international_prestige,domestic_prestige,transfer_budget_eur,club_worth_eur,starting_xi_average_age,whole_team_average_age,fifa_version,fifa_update,fifa_update_date
0,10,Manchester City,455361.0,13,Premier League,1.0,85,10,10.0,NaN,-2.147484e+09,27.09,25.88,23,9,2023-01-13
1,73,Paris Saint Germain,524011.0,16,Ligue 1,1.0,85,9,10.0,NaN,-2.147484e+09,26.82,26.04,23,9,2023-01-13
2,243,Real Madrid,455800.0,53,La Liga,1.0,85,10,10.0,NaN,-2.147484e+09,28.55,24.64,23,9,2023-01-13
3,1337,Germany,37352367.0,78,Friendly International,NaN,85,10,NaN,NaN,NaN,28.27,27.22,23,9,2023-01-13
4,5,Chelsea,452683.0,13,Premier League,1.0,84,8,9.0,NaN,-2.147484e+09,26.73,24.55,23,9,2023-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385050,305,Bohemian FC,1182371.0,65,Premier Division,1.0,54,2,12.0,140000.0,NaN,28.91,24.83,15,1,2014-08-29
385051,1572,Drogheda United,37618984.0,65,Premier Division,1.0,54,1,10.0,150000.0,NaN,26.36,24.40,15,1,2014-08-29
385052,838,Bray Wanderers,978851.0,65,Premier Division,1.0,53,1,10.0,100000.0,NaN,23.45,23.12,15,1,2014-08-29
385053,111132,UCD AFC,120550.0,65,Premier Division,1.0,53,1,9.0,100000.0,NaN,22.45,21.72,15,1,2014-08-29
385054,111965,Athlone Town,37629650.0,65,Premier Division,1.0,52,1,9.0,100000.0,NaN,25.09,24.52,15,1,2014-08-29

In [ ]:
teams = teams[teams['league_id'] == 13]
teams

,team_id,team_name,coach_id,league_id,league_name,league_level,overall,international_prestige,domestic_prestige,transfer_budget_eur,club_worth_eur,starting_xi_average_age,whole_team_average_age,fifa_version,fifa_update,fifa_update_date
0,10,Manchester City,455361.0,13,Premier League,1.0,85,10,10.0,NaN,-2.147484e+09,27.09,25.88,23,9,2023-01-13
4,5,Chelsea,452683.0,13,Premier League,1.0,84,8,9.0,NaN,-2.147484e+09,26.73,24.55,23,9,2023-01-13
5,9,Liverpool,455353.0,13,Premier League,1.0,84,9,9.0,NaN,-2.147484e+09,26.73,25.03,23,9,2023-01-13
15,11,Manchester United,456113.0,13,Premier League,1.0,82,8,8.0,NaN,-2.147484e+09,26.55,24.48,23,9,2023-01-13
20,18,Tottenham Hotspur,455384.0,13,Premier League,1.0,81,7,8.0,NaN,-2.147484e+09,27.45,24.97,23,9,2023-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384511,106,Sunderland,455344.0,13,Premier League,1.0,74,14,12.0,16000000.0,NaN,26.45,24.00,15,1,2014-08-29
384541,1799,Crystal Palace,460451.0,13,Premier League,1.0,73,11,10.0,9000000.0,NaN,28.00,25.85,15,1,2014-08-29
384564,1952,Hull City,126.0,13,Premier League,1.0,72,11,10.0,10000000.0,NaN,26.00,24.88,15,1,2014-08-29
384597,95,Leicester City,896460.0,13,Premier League,1.0,70,10,11.0,9500000.0,NaN,26.00,24.79,15,1,2014-08-29
384603,1796,Burnley,236.0,13,Premier League,1.0,70,9,10.0,7500000.0,NaN,27.55,24.33,15,1,2014-08-29

In [ ]:
import pandas as pd

def merge_teams_with_pl(teams, pl):
    # Convert dates to datetime format if they aren't already
    teams['fifa_update_date'] = pd.to_datetime(teams['fifa_update_date'])
    pl['Date'] = pd.to_datetime(pl['Date'])

    # Initialize an empty list to store the results
    merged_rows = []

    # Iterate through each row in the pl dataframe
    for _, pl_row in pl.iterrows():
        home_team = pl_row['HomeTeam']
        away_team = pl_row['AwayTeam']
        match_date = pl_row['Date']

        # Filter the teams dataframe for the home team and dates before the match date
        filtered_teams_home = teams[(teams['team_name'] == home_team) & (teams['fifa_update_date'] <= match_date)]
        filtered_teams_away = teams[(teams['team_name'] == away_team) & (teams['fifa_update_date'] <= match_date)]

        # Find the closest preceding dates for home and away teams
        if not filtered_teams_home.empty:
            closest_home_row = filtered_teams_home.loc[filtered_teams_home['fifa_update_date'].idxmax()]
        else:
            closest_home_row = None

        if not filtered_teams_away.empty:
            closest_away_row = filtered_teams_away.loc[filtered_teams_away['fifa_update_date'].idxmax()]
        else:
            closest_away_row = None

        # Prepare the merged row including all relevant data from both dataframes
        merged_row = pl_row.to_dict()  # Start with the pl row

        # Add the closest matching data for the home team
        if closest_home_row is not None:
            merged_row.update({f"home_{col}": closest_home_row[col] for col in teams.columns if col != 'team_name'})

        # Add the closest matching data for the away team
        if closest_away_row is not None:
            merged_row.update({f"away_{col}": closest_away_row[col] for col in teams.columns if col != 'team_name'})

        # Append the merged row to the results
        merged_rows.append(merged_row)

    # Convert the list of merged rows into a dataframe
    merged_df = pd.DataFrame(merged_rows)
    return merged_df

# Use the function to merge the dataframes
merged_df = merge_teams_with_pl(teams, pl)

# merged_df now contains all 1900 rows from pl with the relevant data from teams

<ipython-input-21-11402e98f7ed>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams['fifa_update_date'] = pd.to_datetime(teams['fifa_update_date'])

In [ ]:
teams[teams['team_name'] == 'AFC Bournemouth']

,team_id,team_name,coach_id,league_id,league_name,league_level,overall,international_prestige,domestic_prestige,transfer_budget_eur,club_worth_eur,starting_xi_average_age,whole_team_average_age,fifa_version,fifa_update,fifa_update_date
124,1943,AFC Bournemouth,270.0,13,Premier League,1.0,74,1,2.0,NaN,200000000.0,26.64,25.70,23,9,2023-01-13
838,1943,AFC Bournemouth,270.0,13,Premier League,1.0,74,1,2.0,NaN,200000000.0,26.64,25.50,23,8,2022-12-17
1551,1943,AFC Bournemouth,270.0,13,Premier League,1.0,74,1,2.0,NaN,200000000.0,26.64,25.50,23,7,2022-12-06
2262,1943,AFC Bournemouth,270.0,13,Premier League,1.0,74,1,2.0,NaN,200000000.0,26.64,25.50,23,6,2022-11-16
2974,1943,AFC Bournemouth,270.0,13,Premier League,1.0,74,1,2.0,NaN,200000000.0,26.64,25.50,23,5,2022-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345071,1943,AFC Bournemouth,270.0,13,Premier League,1.0,73,8,8.0,16000000.0,NaN,28.82,25.64,16,5,2015-10-09
345723,1943,AFC Bournemouth,270.0,13,Premier League,1.0,73,8,8.0,16000000.0,NaN,28.82,25.55,16,4,2015-10-02
346372,1943,AFC Bournemouth,270.0,13,Premier League,1.0,73,8,8.0,16000000.0,NaN,28.09,25.55,16,3,2015-09-25
347024,1943,AFC Bournemouth,270.0,13,Premier League,1.0,73,8,8.0,16000000.0,NaN,28.09,25.55,16,2,2015-09-21
347678,1943,AFC Bournemouth,270.0,13,Premier League,1.0,73,8,8.0,16000000.0,NaN,26.91,25.42,16,1,2015-08-28

In [ ]:
merged_df.to_csv('full_data_sample.csv', index=False)